# Automatically created file, don't edit.
#IFDEF NORMAL
 -TLinux
 -Mfpc
 -Sg
 -Si
 -Os
 -CpATHLON64
 -OpATHLON64
 -Fu/home/x/.lazarus/lib/lnetbase/lib/x86_64-linux
 -Fu/usr/share/fpcsrc/2.6.2/packages/fcl-base/src/
 -Fu/usr/lib/fpc/2.6.2/units/x86_64-linux/fcl-base/
 -Fu/usr/lib/fpc/2.6.2/units/x86_64-linux/fcl-net/
 -g-
 -p-
 -b-
#ENDIF

#IFDEF DEBUG
 -TLinux
 -Mfpc
 -Sg
 -Si
 -Sa
 -Cr
 -Ci
 -Co
 -CR
 -Os
 -CpATHLON64
 -OpATHLON64
 -g
 -p-
 -b-
#ENDIF

#IFDEF RELEASE
 -TLinux
 -Mfpc
 -Sg
 -Si
 -CX
 -Os
 -CpATHLON64
 -OpATHLON64
 -XX
 -Xs
 -g-
 -p-
 -b-
#ENDIF

